<div class="col-lg-4 col-md-6 mb-4 professional-card">
    <div class="card h-100">
      <% if professional.header.attached? %>
        <%= image_tag(
          professional.header.variant(resize_to_fill: [348, 92]),
          class: 'card-img-top') %>
      <% else %>
        <div class="card-header"></div>
      <% end %>
      <div class="card-body row">
        <div class="col-4">
          <% if professional.avatar.attached? %>
            <%= image_tag(
              professional.avatar.variant(resize_to_limit: [100, 100]),
              class: 'rounded-circle') %>
          <% end %>
        </div>
        <div class="col-8">
          <h4 class="card-title"><%= professional.name %></h4>
          <p class="card-text">
          <% if professional.location %>
          📍 <%= professional.location %><br />
          <% end %>
          <strong><%= professional.company_name %></strong><br />
          <% if professional.url %>
            <%= link_to nil, professional.url %>
          <% end %>
          </p>
        </div>
        <% if professional.bio %>
          <%=
            bio = professional.bio.delete("\n")
            simple_format(bio, {
              class: 'text-truncate card-text mt-3 mx-3 font-weight-light' 
            })
          %>
        <% end %>
      </div>
    </div>
  </div>
