<% content_for :title, "Professionals at #{catalyst.name}" %>

<% content_for :og_tags do %>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= image_url(catalyst.logo) %>" />
<% end %>


<%= render partial: "professional_card", collection: @professionals, as: :professional %>
<div class="col-12 d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
