<%- content_for(:active_breadcrumb_label, @professional.name) %>

<div class="col-md-8 col-12 professional-detail border rounded-top">
  <div class="row">
    <% if @professional.header.attached? %>
      <%= image_tag(
        @professional.header.variant(resize_to_fill: [760, 180]),
        class: 'rounded-top'
      ) %>
    <% else %>
      <div class="col-12 rounded-top bg-light placeholder header-image"></div>
    <% end %>

    <div class="col-4">
      <%= image_tag(
        @professional.avatar_with_fallback(resize_to_limit: [100, 100]),
        class: 'rounded-circle avatar') %>
    </div>
    <div class="col-8 pt-1 text-right">
      <button type="button" class="btn btn-secondary"><i class="fas fa-user-plus"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fas fa-tags"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fas fa-sticky-note"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></button>
    </div>

    <div class="col-12">
      <h4 class="title">
        <%= @professional.name %>
      </h4>
      <% if @professional.bio %>
        <p class="font-weight-light">
          <%= simplified_format(@professional.bio) %>
        </p>
      <% end %>

      <p class="text-muted inline-attributes">
      <% if @professional.location %>
        <span class="inline-attribute-item">
        <i class="fas fa-map-marker"></i> <%= @professional.location %>
        </span>
      <% end %>
      <% if @professional.company_name %>
        <span class="inline-attribute-item">
        <i class="fas fa-briefcase"></i> <%= @professional.company_name %>
        </span>
      <% end %>
      <% if @professional.url %>
        <span class="inline-attribute-item">
        <i class="fas fa-link"></i> <%= link_to nil, @professional.url %>
        </span>
      <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped" id="contact">
        <tbody>
          <%= render partial: 'contact_detail', collection: @contact_details %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="sidebar catalyst col-md-4 col-12 px-5 py-3 bg-light" rel="aside">
  <p><%= @professional.name %> is a member at:</p>
  <%= image_tag(catalyst.logo, size: '200x200') %>
  <h1 class="title"><%= catalyst.name %></h1>
  <p>
  <%= catalyst.phone %><br/>
  <%= catalyst.address %><br/>
  <%= mail_to catalyst.email %><br/>
  <%= link_to nil, catalyst.url, target: '_blank' %>
  </p>
  <%= link_to catalyst.call_to_action_label,
    catalyst.call_to_action_dest,
    class: "action btn btn-primary btn-lg" %>
</div>
