<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :og_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title><%= title %></title>
</head>

<body>
  <main role="main" class="flex-shrink-0">
    <!-- Page Content -->
    <div class="container">
      <% if @catalyst_placement == :header %>
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <div class="row">
            <div class=col-lg-3>
              <%= image_tag(catalyst.logo, size: '200x200') %>
            </div>
            <div class="col-lg-6">
              <h1 class="title"><%= catalyst.name %></h1>
              <p class="lead">
              <%= catalyst.phone %><br/>
              <%= catalyst.address %><br/>
              <%= mail_to catalyst.email %><br/>
              <%= link_to nil, catalyst.url, target: '_blank' %>
              </p>
            </div>
            <div class="col-lg-3 align-self-end">
              <%= link_to catalyst.call_to_action_label,
                catalyst.call_to_action_dest,
                class: "action btn btn-primary btn-lg float-right" %>
            </div>
          </div>
        </header>
      <% end %>

      <%- if content_for?(:active_breadcrumb_label) %>
        <nav class="row" aria-label="breadcrumb">
          <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= yield :active_breadcrumb_label %>
            </li>
          </ol>
        </nav>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer mt-auto py-5 bg-dark">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </footer>
</body>
</html>
