<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Professionals</title>
</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <div class="row">
        <div class=col-lg-3>
          <%= image_tag(catalyst.logo, size: '200x200') %>
        </div>
        <div class="col-lg-6">
          <h1 class="title"><%= catalyst.name %></h1>
          <p class="lead">
           <%= catalyst.phone %><br/>
           <%= catalyst.address %><br/>
           <%= mail_to catalyst.email %><br/>
           <%= link_to nil, catalyst.url, target: '_blank' %>
          </p>
        </div>
        <div class="col-lg-3 align-self-end">
          <%= link_to catalyst.call_to_action_label,
                      catalyst.call_to_action_dest,
                      class: "action btn btn-primary btn-lg float-right" %>
        </div>
      </div>
    </header>

    <!-- Page Features -->
    <div class="row">
      <%- 31.times do |i| %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x132" alt="">
            <div class="card-body row">
              <div class="col-4">
                <img class="rounded-circle" src="http://placehold.it/100x100" alt="">
              </div>
              <div class="col-8">
                <h4 class="card-title">James Richardson</h4>
                <p class="card-text">
                📍 San Fransisco, CA, USA <br />
                <strong>Ja Rich B.V.</strong><br />
                <%= link_to nil, 'http://jari.ch' %>
                </p>
              </div>
              <p class="text-truncate card-text mt-3 mx-3 font-weight-light">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.  Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.</p>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
</html>
